/* font for headings */
/* first font choice */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

/* second font choice */
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

/* font for body */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* global element configuration */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 100%;
    font-family: 'Inria Sans', sans-serif;
}

figure {
    display: inline-block;
    margin: 0 auto;
    padding: 50px 25px;
    text-align: center;
}

hr {
    border-style: none;
    border-top: 10px dotted #131313;
    margin: 100px auto;
    width: 15%;
}

html {
    scroll-behavior: smooth;
}

h1 {
    margin: 0;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2.5em;
}

img {
    display: inline-block;
}

p {
    font-size: 1.5em;
}

/* modifying text */
.copyright-text {
    font-size: 1em;
    margin-bottom: 0;
}

.gamer {
    background-color: #000;
    display: inline-block;
    color: #fff;
}

.self-description {
    font-size: 1.25em;
    margin-bottom: 0;
    padding: 50px 25px;
    text-align: center;
}

/* modifying image */
.icon-image {
    border-radius: 50%;
    max-width: 25%;
}

.portrait-image {
    border-radius: 50%;
    max-width: 75%;
}

.skill-image-scale {
    /* resize the image by its own size */
    /* safari 3.1+, chrome */
    -webkit-transform: scale(0.25);

    /* FireFox 3.5+ */
    -moz-transform: scale(0.25);

    /* IE9+ */
    -ms-transform: scale(0.25);

    /* Opera 10.5+ */
    -o-transform: scale(0.25);

    transform: scale(0.25);
}

.skill-image-static {
    width: 128px;
    height: 128px;
}

.small-icon-image {
    max-width: 7.5%;
}

.small-up-arrow {
    max-width: 48px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.top-container {
    /* sets the background color */
    background-color: #fff;

    /* fills the entire screen with 100vh */
}

.top-content-container {
    margin: 0 auto;
    padding-top: 100px;
    width: 60%;
}

.name-container {
    color: #fff;
    text-align: left;
    width: 60%;
    margin: 0 0 0 30%;
}

.work-container {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #131313;
    margin: 0 0 0 20%;
    text-align: right;
    width: 36%;
}

.name-container h1 {
    background-color: #181818;
}

.work-container p {
    background-color: #fff;
}

.work-container p {
    margin: 0;
    padding: 25px 12.5px 25px 0;
}

.arrow-container {
    margin: 250px auto 50px auto;
    text-align: center;
}

.middle-container {
    width: 100%;
}

.middle-content-container {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.image-container {
    display: inline-block;
}

/* flexbox container */
.skill-container {
    display: flex;
    /* laid out flex item as row */
    flex-direction: row;
    padding: 50px 0;
}

.skill-description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 25px;
}

.skill-description-container p {
    font-size: 1.25em;
}

.bottom-container {
    background-color: aquamarine;
    width: 100%;
    position: relative;
}

.contacts-container {
    margin: 0 auto;
    padding: 50px 25px 25px 25px;
    text-align: center;
    width: 50%;
}

.contacts-container ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.contacts-container ul li {
    display: inline-block;
    padding: 25px 12.5px 50px 12.5px;
    font-size: 1.25em;
}

.contacts-container ul li a:link,
.contacts-container ul li a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #525252;
}

.contacts-container ul li a:hover {
    color: #141414;
    transition-duration: 0.5s;
}

/* media queries */